@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cabin';
    src: url('./fonts/Cabin-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/latoregular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}